/* Estilos para el componente HeroCard */
.heroCard {
    background-color: white;
    border-radius: 10px;
    padding: 20px;

  }
  
  .price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: lightgrey;
    width: 220px;
    border-radius: 10px;
  }
  
  .moneyBag, .cart {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 10px;
  }
  
  .priceNumber, .cartNumber {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .heroContainer {
    position: relative;
    width: 220px;
    height: 280px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
  }
  
  .darkCircles {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    margin-left: 15px;
  }
  
  .darkCircle1 {
    width: 40px;
    height: 40px;
    background-color: darkgrey;
    border-radius: 50%;
    margin-left: 5px;
  }
  .darkCircle2 {
    width: 35px;
    height: 35px;
    background-color: darkgrey;
    border-radius: 50%;
    margin-left: 10px;
  }
  .overlayCircle {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 70px;
    height: 70px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
  }
  .paddingXl{
    padding-left: 20px;
  }
  .heroCardContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left:20px ;
}
  /* Estilos Responsive */
  @media (max-width: 767px) {
    .heroCard {
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .price {
      width: 220px;
    }
    .heroContainer {
      width: 220px;
      height: 280px;
      margin-bottom: 20px;
    }
    .paddingXl{
      padding-left: 0px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .overlayCircle {
      width: 60px;
      height: 60px;
      border-width: 1px;
      bottom: -10px;
      right: -10px;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    .heroCard {
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .price {
      width: 220px;
    }
    .heroContainer {
      width: 220px;
      height: 320px;
      margin-bottom: 20px;
    }
    .paddingXl{
      padding-left: 0px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .heroCardContainer {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-left:10px ;
      margin-right: 10px;
    }
    .overlayCircle {
      width: 60px;
      height: 60px;
      border-width: 1px;
      bottom: -10px;
      right: -10px;
    }
  }
/* Estilos para el componente HeroCard */

/* .mainContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;

} */








